
.caja-gris{
    background-color: rgb(182, 182, 182);
    border-radius: 6px;
}

.caja-gris h1 {
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}

.contenedor-hn{
    display:flex;
    width: 100%;
    height: 70px;
    background-color: rgb(2, 189, 158);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    margin-top: 1%;

}

.contenedor-medio{
    display:flex;
    gap:15px;
    width: 100%;
    height: 350px;
    border-radius: 8px;
    margin-top: 1%;
}


.contenedor-a{
    width: 100%;
    height: auto;
    background-color: rgb(2, 189, 158);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.contenedor-s{
    width: 250%;
    height: auto;
    background-color: rgb(2, 189, 158);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.caja-gris-article{
    width: 80%;
    height: 70%;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
}

.contenedor-n{
    width: 100%;
    height: auto;
    background-color: rgb(2, 189, 158);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.contenedor-footer{
    background-color: rgb(2, 189, 158);
    width: 100%;
    height: auto;
    border-radius: 8px;
    display:flex;
    margin-top: 1%;
    justify-content: center;
}

.texto {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}