* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.tarjeta{
    max-width: 400px;
    justify-content: center;
    display: flex;
}

.contenedor {
    position:relative;
    display:inline-block;
    align-items: center;
}

.img-fondo {
    width: 100%;
    display:block;
}

.img-pizza{
    width: 70%;
    top: 5%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%); /*centra horizontalmente*/
    z-index: 10; /*apilamiento: asegura que esté al frente*/
    border-radius: 5%;
}

.tarjeta-contenido {  
    background-color: white;   
    padding: 30px;   
    text-align: center; 
}

.tarjeta-contenido hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 15px 0;
}

.tarjeta-contenido p {
    color: #555;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 20px;
}

.tarjeta-contenido a {
    display: block;
    text-align: left;
}
