* {     
    margin: 0;     
    padding: 0;     
    box-sizing: border-box; 
} 

body {
    /*fondo de madera en toda la pantalla*/
    background-image: url('./recursos/fondo_madera.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    /*centra todo los contenedores*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.tarjeta {     
    width: 100%;
    max-width: 450px; 
    background-color: white;
}

.img-pizza {     
    width: 100%;     
    display: block; 
}

.tarjeta-contenido {  
    background-color: white;   
    padding: 30px;   
    text-align: center; 
}

.tarjeta-contenido h1 {
    margin-bottom: 15px;
    font-size: 26px;
}

.tarjeta-contenido hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 15px 0;
}

.tarjeta-contenido p {
    color: #555;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 20px;
}

.tarjeta-contenido a {
    display: block;
    text-align: left;
}
